@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  src: local('Segoe UI Regular'), url('./assets/Segoue-UI/Segoe UI.woff') format('woff');
  }
  @font-face {
    font-family: 'Euclid Circular';
    src: url('./assets/Euclid-Circular/Euclid-Circular-A-Regular.ttf') format('ttf'),
  }
*{
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --white: #FFF;
  --black: #000;
  --lightblue: #456CD9;
  --second-black: #374250;
  --gray: #798BA1;
  --lightgray: #F5F8FB;
}
html{
  font-size: 67.5%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  padding: 0 10rem;
}
.container-fluid{
  padding: 0 3.5rem;
}
.btn{
  border-radius: 1.5rem 0.4rem;
  border: none;
  padding: 0.6rem 3rem;
  cursor: pointer;
  font-weight: 600;
}
.btn.btn-blue{
  background: var(--lightblue);
  color: var(--white);
}
.btn.btn-white{
  background-color: var(--white);
  color: var(--lightblue);
}
.news-name{
  background-color: var(--lightblue);
  border-radius: 1.7rem;
  color: var(--white);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  display: inline-block;
}
@media (max-width: 768px){
  .container{
    padding: 0 3.5rem;
  }
}