 /* Visions */
 .visions {
    font-family: "Segoe UI", Arial, sans-serif;
    padding-top: 4.7rem;
    color: var(--white);
  }
  .visions .wrapper {
    height: 38rem;
    display: flex;
    justify-content: space-between;
  }
  .visions .visions-info {
    background: var(--lightblue) url(../assets/img/logo/visions-bg.svg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 3rem;
  }
  .visions .visions-info .visions-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
  }
  .visions .visions-info .visions-text p {
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2.2rem;
  }
  .visions-right {
    width: 50%;
  }
  .visions-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 991px) {
    .visions .wrapper {
      height: max-content;
      flex-direction: column;
    }
    .visions .visions-right,
    .visions .visions-info {
      width: 100%;
    }
    .visions .visions-right img {
      height: 20rem;
      object-fit: cover;
    }
    .visions .visions-info {
      background-position: top center;
    }
  }
  /* About */
  .about {
    font-family: "Segoe UI", Arial, sans-serif !important;
    padding: 2.5rem 0;
    background-color: var(--lightgray);
    color: var(--second-black);
  }
  .about .about-title {
    color: var(--lightblue);
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .about .about-text {
    padding: 1rem 0 3rem 0;
    font-size: 1.4rem;
  }
  .about .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    padding-top: 1.5rem;
  }
  .about .wrapper .item {
    max-width: 20rem;
  }
  .about .wrapper .item .item-title h6 {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 10rem;
    padding-bottom: 1rem;
  }
  .about .wrapper .item .item-text p {
    color: var(--gray);
    font-size: 1.3rem;
  }