.container{
    padding: 0 10rem;
}
.container-fluid{
  padding: 0 3.5rem;
}
.btn{
  border-radius: 1.5rem 0.4rem;
  border: none;
  padding: 0.6rem 3rem;
  cursor: pointer;
  font-weight: 600;
}
.btn.btn-blue{
  background: var(--lightblue);
  color: var(--white);
}
.btn.btn-white{
  background-color: var(--white);
  color: var(--lightblue);
}
.news-name{
  background-color: var(--lightblue);
  border-radius: 1.7rem;
  color: var(--white);
  padding: 0.2rem 2rem;
  font-size: 1.15rem;
  display: inline-block;
}
@media (max-width: 768px){
  .container{
    padding: 0 3.5rem;
  }
}