@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  src: local('Segoe UI Regular'), url('./assets/Segoue-UI/Segoe UI.woff') format('woff');
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --white: #FFF;
  --black: #000;
  --lightblue: #456CD9;
  --second-black: #374250;
  --gray: #798BA1;
  --lightgray: #F5F8FB;
}
html{
  font-size: 67.5%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--white);
}

