@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  src: local('Segoe UI Regular'), url('./assets/Segoue-UI/Segoe UI.woff') format('woff');
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}
:root{
  --white: #FFF;
  --black: #000;
  --lightblue: #456CD9;
  --second-black: #374250;
  --gray: #798BA1;
  --lightgray: #F5F8FB;
}
html{
  font-size: 67.5%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--black);
}
button{
  border-radius: 0;
  border: none;
  padding: 0;
}
@media (min-width: 1024px){
.container {
    max-width: none !important;
  }
}
@media (min-width: 768px){
.container {
    max-width: none !important;
  }
}
@media (min-width: 640px){
.container {
    max-width: none !important;
  }
}