@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
/* Header */
header {
  color: var(--white);
  height: 60rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}
.bg {
  background: url(../assets/img/headder-bg.png) no-repeat;
  height: 60rem;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.2rem 0;
}
.header-top > .top-left img {
  width: 17rem;
}
.header-top .top-right {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.header-top .top-right img {
  width: 1.5rem;
  cursor: pointer;
}
.header-top .top-right select {
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--white);
  border: none;
  outline: none;
  padding-left: 0.2rem;
  -webkit-appearance: none;
  padding: 1.5rem;
}
.header-top .top-right select option {
  color: var(--black);

}
.header-bottom ul {
  display: flex;
  gap: 3rem;
  padding: 1.2rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding-left: 1rem;
}
.header-bottom ul .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  text-align: center;
}
.mobile-language,
.mobile-nav {
  display: none;
}
/* Hamburger menu active style */
.hamburger-menu {
  position: relative;
  display: none;
  transform: translateY(1px);
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}
.hamburger-menu span {
  width: 2rem;
  height: 0.13rem;
  background-color: var(--white);
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}
.hamburger-menu.open > span:nth-child(1){
  transform: translate(0, 3px) rotate(45deg);
}
.hamburger-menu.open > span:nth-child(2){
  display: none;
}
.hamburger-menu.open > span:nth-child(3){
  transform: translate(-1px, -4px) rotate(-45deg);
}
.dropdown-menu {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: none;
  background-color: var(--lightblue);
  color: var(--white);
  max-width: 100%;
  width: 100%;
  gap: 5rem;
  align-content: center;
  padding: 5rem 2rem 0 2rem;
  z-index: -1;
  border-radius: 0 0 7px 7px;
}
.dropdown-menu h4{
  display: flex;
  align-items: center;
}
.dropdown-menu ul{
  display: flex;
  gap: 4rem;
}

@media only screen and (max-width: 768px) {
  .header-top .top-left img {
    width: 13rem;
  }
  .header-bottom > ul {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: var(--black);
    text-align: center;
    gap: 2rem;
  }
  .header-bottom ul .mobile-language{
    display: block;
  }
  .header-bottom ul .nav-item{
    flex-direction: column;
  }
  .header-bottom ul .nav-item .dropdown-menu{
    padding: 0;
  }
  .header-bottom ul .nav-item .dropdown-menu ul{
    gap: 0;
    padding: 0;
  }
  .hamburger-menu{
    display: flex;
  }
  .language-option,
  .dropdown-menu h4 {
    display: none;
  }
  .mobile-nav {
    background-color: var(--white);
    width: 100vw;
    height: calc(100vh - 6rem);
    z-index: 1;
  }
  .arrow-down {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
  }
  .dropdown-menu{
    position: relative;
    background-color: transparent;
    color: var(--black);
  }
  .nav-item.active .dropdown-menu{
    display: flex;
    flex-direction: column;
  }
  .nav-item.active .arrow-down {
    rotate: 180deg;
  }
  .dropdown-menu > ul{
    position: relative;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .header-bottom ul {
    display: flex !important;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: flex;
  }
  .header-bottom ul li:hover .arrow-down {
    rotate: 180deg;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
  }
}
#mainPage{
  overflow-x: hidden;
}
/* Banner */
.banner {
  padding-top: 3.2rem;
  color: var(--white);
  font-family: 'Euclid Circular A', sans-serif;
}
.banner-top h1 {
  font-size: 3.5rem;
}
.banner-text p {
  max-width: 60rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1.7rem 0;
}
.banner-bottom {
  padding-top: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.banner-bottom button{
  font-family: 'Segoe UI', Arial, sans-serif !important;
}
/* News */
.news {
  overflow-x: hidden !important;
  padding-top: 7.2rem;
  font-family: 'Euclid Circular A', sans-serif !important; 
}
.news .news-wrapper {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}
.news .news-left img {
  max-width: 60rem;
  width: 100%;
}
.news .news-left {
  padding-right: 2rem;
  border-right: 0.25rem solid var(--lightblue);
}
.news .news-right {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.news .news-right .news-name {
  width: 6.6rem;
}
.news .news-right .news-title {
  line-height: 1.3em;
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--second-black);
}
.news .news-right .news-date,
.news-info {
  color: #37425099;
}
.news .news-right .news-date {
  padding: 0.6rem 0;
}
.news .news-right .news-info {
  font-weight: 500;
  font-size: 1.4rem;
  max-width: 45rem;
}
/* Last News */
.last-news{
  font-family: 'Euclid Circular A', sans-serif !important;
}
.last-news .news-title {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 1.5rem 0;
}
.last-news .news-title h4 {
  font-size: 1.9rem;
  font-weight: 700;
}
.last-news .news-title a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--second-black);
}
.last-news .news-title img {
  width: 1.3rem;
  margin-left: 0.5rem;
}
.last-news .news-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.last-news .news-item {
  max-width: 38rem;
  width: 100%;
}
.last-news .news-item .news-img img {
  max-width: 38rem;
  width: 100%;
  object-fit: cover;
}
.last-news .news-item .news-date {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.last-news .news-item .news-date p {
  color: var(--gray);
  font-weight: 600;
}
.last-news .news-item .news-text {
  font-size: 1.6rem;
  font-weight: 600;
}
.last-news .news-item .news-text span::after {
  content: "...";
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  display: inline-block;
  overflow: hidden;
}
/* Visions */
.visions {
  font-family: 'Segoe UI', Arial, sans-serif;
  padding-top: 4.7rem;
  color: var(--white);
}
.visions .wrapper {
  display: flex;
  justify-content: space-between;
}
.visions .visions-info {
  background: var(--lightblue) url(../assets/img/visions-bg.svg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 3rem;
}
.visions .visions-info .visions-title h2 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}
.visions .visions-info .visions-text p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2.2rem;
}
.visions-right {
  width: 50%;
}
.visions-right img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .news .news-wrapper,
  .last-news .news-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .news .news-left {
    padding-right: 0;
    border: none;
  }
  .news .news-right {
    padding-top: 2rem;
  }
  .visions .wrapper {
    flex-direction: column;
  }
  .visions .visions-right,
  .visions .visions-info {
    width: 100%;
  }
  .visions .visions-right img {
    height: 20rem;
    object-fit: cover;
  }
  .visions .visions-info {
    background-position: top center;
  }
}
/* About */
.about {
  font-family: 'Segoe UI', Arial, sans-serif !important;
  padding: 2.5rem 0;
  background-color: var(--lightgray);
  color: var(--second-black);
}
.about .about-title {
  color: var(--lightblue);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.about .about-text {
  padding: 1rem 0 3rem 0;
  font-size: 1.4rem;
}
.about .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding-top: 1.5rem;
}
.about .wrapper .item {
  max-width: 20rem;
}
.about .wrapper .item .item-title h6 {
  font-size: 1.5rem;
  max-width: 10rem;
  padding-bottom: 1rem;
}
.about .wrapper .item .item-text p {
  color: var(--gray);
  font-size: 1.3rem;
}
/* Portfel */
.portfel{
  font-family: 'Segoe UI', Arial, sans-serif !important;
}
.portfel .container > .title {
  text-align: center;
  font-family: 'Euclid Circular A', sans-serif;
  font-size: 1.5rem;
  padding: 2.8rem 0;
  color: var(--second-black);
}
.portfel .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.portfel .wrapper .item {
  height: 10rem;
  width: 100%;
  border-radius: 2.7rem;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  padding: 0 3.75rem;
}
.portfel .wrapper .item .title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--lightblue);
  text-align: center;
  display: inline-flex;
  align-items: center;
  height: 60%;
}
.portfel .wrapper .item:nth-child(odd) .title {
  border-right: 1px solid var(--lightblue);
  padding-right: 3.75rem;
}
.portfel .wrapper .item:nth-child(even) .title {
  border-left: 1px solid var(--lightblue);
  padding-left: 3.75rem;
}
.portfel .item .item-img {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.portfel .item .item-img img {
  max-height: 5.5rem;
  object-fit: cover;
}
@media (max-width: 768px) {
  .portfel .wrapper .item:nth-child(odd) .title,
  .portfel .wrapper .item:nth-child(even) .title {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }
  .portfel .wrapper .item:nth-child(odd) {
    flex-direction: column;
  }
  .portfel .wrapper .item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .portfel .item .item-img img {
    height: 3.5rem;
    margin-bottom: 1rem;
  }
}
.link {
  padding: 5rem 0 2.5rem 0;
  font-family: 'Euclid Circular A', sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.6rem;
  box-shadow: 0px 2px 20px 1px rgba(128, 156, 182, 0.16);
}
.swiper-slide .item-img img {
  display: block;
  width: 100%;
  max-height: 6rem;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 3.4rem !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: 0rem !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black) !important;
}
/* Footer */
.footer{
  background-color: var(--lightblue);
  color: var(--white);
  padding-bottom: 3rem;
  font-family: 'Segoe UI', sans-serif;
}
.footer .wrapper{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 5rem 0 3rem 0;
  border-bottom: 1px solid #CCC;
}
.footer .wrapper .item .footer-logo img{
  max-width: 20rem;
  width: 100%;
}
.footer .wrapper .item .social-media{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding-top: 2rem;
}
.footer .wrapper .item p{
  font-size: 1.6rem;
  font-weight: 300;
}
.footer .wrapper .item ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.06rem;
}
.footer .wrapper .item ul li{
  opacity: 0.6;
}
.footer .wrapper .item ul li:hover{
  opacity: 1;
}
.footer .wrapper .item:last-child a{
  display: block;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.footer .copyright{
  text-align: center;
  font-weight: 300;
  padding-top: 3rem;
}