.main-news{
    font-family: 'Segoe UI', sans-serif;
}
.main-news .news-title .title-bottom,
.news .news-right{
    font-family: "Euclid Circular A", sans-serif;
}
.news .news-wrapper .news-left{
    border-right: none;
}
.popup-box{
    display: none;
}
.popup-box.active{
    display: flex;
}
*{
    transition: none;
}
